h1 {
    color: white
}

h2{
    color:blue
}

h3{
    color: black
}

h3{
    background-color: yellow
}

h4{
    color:yellow
}

h4{
    background-color: darkgreen
}

h5{
    color: red
}

#bighead{
    background-color: cornflowerblue
}

#mediumhead{
    background-color: mediumspringgreen
}

#docdot{
    background-color: yellow
}

.bigdoc{
    color: goldenrod
}

.taxi{
    color:red
}

a:link{
    color:green
}

a:link{
    text-decoration: none
}

a:hover{
    color:red
}

a:hover{
    text-decoration: underline
}